{% extends 'base.html' %}

{% block title %}
    {{ Країни}}
{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1>Країни</h1>

        <div class="alert-info">
            {% for countrys in phone_table %}
            <ul>

                <li>
                    <a href="/{{ countrys.id }}" class="btn btn-success">{{ countrys.country }}</a>
                </li>

            </ul>
            {% endfor %}
             <form method="post">
                <input type="text" name="country" id="country" class="form-control" placeholder="Введіть назву країни"><br>
                <input type="submit" class="btn btn-warning" value="Шукати">
             </form>
        </div>


</div>
{% endblock %}