{% extends 'base.html' %}

{% block title %}
    Додавання
{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1>Код має бути цілим числом</h1>
    <form method="post">
        <input type="text" name="country" id="country" class="form-control" placeholder="Введіть назву країни"><br>
        <input name="part_of_the_world" id="part_of_the_world" class="form-control" placeholder="Введіть частину світу де знаходиться країна"><br>
        <input name="code" id="code" class="form-control" placeholder=" Введіть код (має бути цілим числом)"><br>
        <input type="submit" class="btn btn-success" value="Відправити">
    </form>
</div>
{% endblock %}